[submodule "PIM-base"]
	path = PIM-base
	url = https://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@github.com/cmuparlay/PIM-base
[submodule "parlaylib"]
	path = parlaylib
	url = https://github.com/Loremkang/parlaylib.git
[submodule "pim_base"]
	path = pim_base
	url = https://github.com/cmuparlay/pim_base.git
